/*==============css reset===============*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*=====================css reset end===========*/


/*=====================general===========*/
:root{

}
* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    background: #fff;
    font-style: normal;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color:#1a1a1a;
}
input{
    outline: none;
}
a {
    text-decoration: none;
    color: #000;
    display: inline-block;
}

.slick-slider * {
    outline: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}


/*=====================end general===========*/

.header {}

.headerTop {
    background: #2e2e2e;
    min-height: 60px;
    /* delete*/
    display: flex;
    padding: 0 50px;
}

.left {
    display: flex;
    justify-content: space-between;
    width: 385px;
    ;
}

.headerLogo {
    display: flex;
    align-items: center;
}

.headerLogo img {
    margin-right: 20px;
}

.headerLogo>.logoTitle {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #896ee2;
    display: flex;
    flex-direction: column;
}

.headerLogo>.logoTitle>span {
    font-family: 'Raleway', sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.4rem;
}

.headerChat {
    position: relative;
    background: #f1ce4c;
    color: #fff;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 42px;
    font-family: 'Roboto', sans-serif;
}

.chat:before {
    font-family: FontAwesome;
    font-size: 3.6rem;
    margin-right: 10px;
}

.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.phone {
    font-size: 24px;
    color: #fff;
    position: relative;
    padding-left: 70px;
}

.phone:before {
    font-size: 24px;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
    position: absolute;
}

.lineText {
    font-size: 2rem;
    color: #7d7d7d;
    text-transform: uppercase;
}

.find {
    display: flex;
    align-items: center;
}

.search {
    position: relative;
}

.find input {
    display: block;
    border-radius: 5px;
    padding: 0 30px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    border: 1px solid #f1ce4c;
}

.search:before {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    padding-right: 5px;
    border-right: 1px solid #f1ce4c;
    font-size: 18px;
    color: #f1ce4c;
}


/*==========header Content=====*/

.headerContent {
    min-height: 800px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.logoBottom .logoTitle {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #896ee2;
    display: block;
    margin: -60px 110px;
    border-right: 2px solid black;
    padding-right: 20px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 435px;
    padding-top: 85px;
    padding-left: 50px;
}

.logoContent {
    display: flex;
    width: 385px;
}

.logoBottom {
    width: 235px;
}

.logoContent .headerLogo {
    margin-right: 20px;
}

.logoContent .headerLogo img {
    transform: scale(1.7);
    margin-right: 30px;
}

h1 {
    padding-left: 20px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    color: #896ee2;
    border-left: 2px solid black;
}

.headerMenu {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 10px;
}

.headerMenu:after {
    content: '';
    width: 1px;
    height: 1px;
}

.headerMenu a {
    width: 145px;
    height: 145px;
    border-radius: 50%;
    color: #707070;
    margin: 10px 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-top: 95px;
}

.headerMenu a:before {
    font-size: 45px;
    padding-bottom: 10px;
    position: absolute;
    top: 25px;
    color:#e8b527;
}
.headerMenu a:hover:before{
    color:#fff;
}


.headerMenu a:hover {
    background: linear-gradient(90deg, #eec021 0%, rgba(238, 192, 33, 0) 100%), #f4db73;
    color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.banner {
    background: url(../img/banner-bg.jpg) no-repeat 0 0 / cover;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.banner-slider h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 3.6rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #003471;
    padding-bottom: 14px;
}

.banner-slider p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 24px;
    padding: 25px 525px 9px 0;
}

.banner-slider {
    padding-left: 100px;
    width: 1200px;
}

.banner-slider .slick-slide {
    border: 0;
}

.banner-slider .slick-arrow {
    position: absolute;
    top: 50%;
    font-size: 50px;
}

.banner-slider .slick-prev {
    left: 50px;
}

.banner-slider .slick-next {
    right: 50px;
}

.banner-slider .slick-dots {
    position: absolute;
    left: 50px;
    top: 50%;
}

.banner-slider .slick-dots button {
    font-size: 0;
    padding: 0;
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    opacity: .4;
    background: #fff;
    cursor: pointer;
}

.banner-slider .slick-dots>li.slick-active>button {
    opacity: 1;
}


/*=================About Us======*/

.about {
    /* background: linear-gradient( 45deg, rgba(75, 36, 75, .7) 0%, rgba(203, 129, 109, .7) 100%); */
    background: url('../img/about-bg.jpg') no-repeat 0 0 / cover;
    padding-top: 110px;
    font-family: 'Raleway', sans-serif;
}

.about>.container {
    text-align: center;
    min-height: 930px;
    /*delete*/
}

.toptextBox {}

.about>.container>h2 {
    text-transform: uppercase;
    font-size: 3.6rem;
    font-weight: 600;
    margin-bottom: 60px;
    color: #fff799;
}

.about>.container>h3 {
	font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 2.8rem;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 110px;
    color: #fdc689;
    margin-top: 35px;
}

.about>.container>p {
    margin-bottom: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
}

.about-panel {
    display: flex;
    justify-content: center;
}

.about-part {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 230px;
}
.about-part:hover{
    transform: scale(1.1);
     z-index: 2;
}

.about-img,
.help-img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background: url(../img/pic1.jpg) 50% 45% no-repeat;
    position: relative;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.about-part:nth-child(2)>.about-img {
    background: url(../img/pic2.jpg) 50% 45% no-repeat;
}

.about-part:nth-child(3)>.about-img {
    background: url(../img/pic3.jpg) 50% 45% no-repeat;
}

.about-img:before,
.help-img:before {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 4.5rem;
    color: #888;
    background: rgba(255, 255, 255, .5);
    width: 100px;
    border-radius: 50%;
    line-height: 100px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6);
    text-align: center;
}

.about .fa:after,
.help-img.fa:after{
    content: '';
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 130px;
    height: 130px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 50%;
}


.about-part>.text {
    margin-top: 40px;
    font-weight: 500;
    font-size: 2rem;
    color: #ffffff;
    text-transform: uppercase;
}


/*=============section 2======*/

.help {
    min-height: 700px;
    display: flex;
}

.help-mail {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/form-bg.jpg) no-repeat 0 0/cover;
    position: relative;
}

.help-mail:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, .9)
}

.callUs {
    width: 640px;
    text-align: center;
    outline: none;
    position: relative;
}

.callUs>h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 7.4rem;
    color: rgba(242, 101, 34, .67);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.callUs>p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 50px;
}

.callUs>input {
    border: 1px solid #f2c81c;
    border-radius: 5px;
    padding: 0 30px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 35px;
}

::placeholder{
	color: #f1aa00;
	font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
}
.callUs input[type="radio"] {
 display: none;
}
.help-mail label {
  position: relative;
  padding: 0 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 7.2rem;
  color: #707070;
}
.help-mail label:before {
	content: '';
	position: absolute;
	top: -3px;
	left: 0;
	width: 25px;
    height: 25px;
	border: 1px solid #f2c81c;
	border-radius: 50%;
	background: #fff;
}
.help-mail label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(40%,20%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: transparent;
    transition: all .2s;
}
#btn-1:checked ~ label[for="btn-1"]:after,
#btn-2:checked ~ label[for="btn-2"]:after,
#btn-3:checked ~ label[for="btn-3"]:after {
  background: #f2c81c;
}

.callUs>h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 20px;
    color: #1a1a1a;
}

.help-call {
    width: 570px;
    display: flex;
    flex-direction: column;
}

.phoneConnection {
    min-height: 500px;
    background: #f5e9bd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.phoneConnection>.about {
    width: 415px;
}

.help-img {
    background: url(../img/pic4.jpg) 20% 45% no-repeat;
}

.phoneConnection .phone {
    font-size: 4.8rem;
    color: #f7941d;
    padding-left: 0;
    line-height: 7.2rem;
    margin-top: 45px;
}

.phoneConnection .phone:hover{
    transform: scale(1.1);
}

.boxConnection .lineText {
    font-size: 2.4rem;
    color: #ccc;
    text-transform: uppercase;
}

.chatConnection .chat {
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 2.8rem;
    padding: 56px 42px;
}

.chatConnection .chat:hover:before{
    transform: scale(1.1);

}

.chatConnection .chat:before {
    font-size: 7rem;
}
.boxThird{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information{
    width: 910px;
    padding-top: 75px;
    padding-bottom: 55px;
    border-bottom: 1px solid #c2c2c2;
    display: flex;
    justify-content: space-around;
}

.information .guide{
    width: 160px;
    color: #707070;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.information .guide:hover{
    transform: scale(1.1);
}


.information .guide:before{
    content: '';
    width: 58px;
    height: 60px;
    margin-bottom: 30px;
    background: url(../img/sprite.png) -10px 0;
}

.information .guide:nth-child(2):before{
    background: url(../img/sprite.png) -6px -123px;
}

.information .guide:nth-child(3):before{
    background: url(../img/sprite.png) -10px -63px;
}

.online{
    position: relative;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
}

.online>h3{
    text-transform: uppercase;
    font-size: 2.4rem;
    line-height: 7.2rem;
    color: #fbaf5d;
}
.online>p{
    font-size: 2rem;
    color: #555;
    text-align: center;
    font-weight: 300;
}

.button{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #f2c81c;
    margin-top: 30px;
    text-align: center;
}

.button:hover{
    transform: scale(1.3);
}

.button:before{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 4.5rem;
    color: #fff;
    background: #f2c81c;
    width: 42px;
    border-radius: 50%;
    line-height: 42px;
    text-align: start;
}

.top .tabs{
    display: flex; 
}
.tabs-nav{
    width: 580px;
    background: url(../img/tabs-nav-bg.png) 0 0/cover;;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 115px 125px;
    padding-top: 180px;
    margin: 0;  
}

.tabs-nav>li{
    cursor: pointer;
    margin: 10px 0;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #003663;
    position: relative;
    padding-right: 15px;
}
.tabs-nav>li:before{
    position: absolute;
    left: 100%;
    font-size: 4.5rem;
    color: orange;
    top: -60%;
}

.tabs-nav>li:hover{
   transform: scale(1.1);
}
.tabs-nav>li.active{
    transform: scale(1.1);
}
.tabs-content{
    flex-grow: 1;
    background: url(../img/tabs-content-bg.png) 0 0/cover;
    position: relative;
    padding-top: 100px;
}

.tabs-content>div{
    position: absolute;
    transform: scale(0);
    display: flex;
    justify-content: space-around;
}

.tabs-content>div.active{
    position: static;
    transform: scale(1);
    transition: all 1s ease;
    display: flex;
    justify-content: space-around;
}
.tabs-content .about-part{
	width: 340px;
}

.tabs-content .about-part:nth-child(1)>.about-img{
    background: url(../img/adderall-img1.jpg);
}

.tabs-content .about-part:nth-child(2)>.about-img{
    background: url(../img/adderall-img2.jpg);
}
.tabs-content h4{
	font-family: 'Raleway', sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 2.8rem;
}
.tabs-content p{
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.4rem;
    color: #fff;
    padding: 20px 50px;
}
/*=========FOOTER============*/
.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #2e2e2e;
}
.footerMenu{
    width: 995px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #555;
    padding-top: 60px;
    padding-bottom: 30px;
}

.footerMenu a{
    font-size: 1.6rem;
    color: #f2c81c;
    line-height: 2.8rem;
    font-weight: 300;
    border-bottom: 1px solid transparent;
}
.footerMenu a:hover{
    border-bottom: 1px solid #f2c81c;
    color: #fff;
}

.footerMenu ul{
    padding: 0;
}

.footerMenu h3{
    color:#cccccc;
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.promise{
    width: 285px;
}

.promise>p{
    color: #acacac;
    font-size: 1.6rem;
    line-height: 2rem;
}

.footer-content h4{
   font-size: 1.6rem;
   color:#707070;
   line-height: 2rem 
}


/*=========media============*/

@media (max-width: 1200px){
    .container{
        width: 960px;
    }
    .headerTop {
        padding: 0;
    }
    .left {
        width: 520px;
        padding-left: 50px;
    }
    .line {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .sidebar{
        width: 428px;
    }
    .banner-slider {
        width: 100%;
        padding: 0;
    }
    .banner-slider h4{
        width: 400px;
    }
    .banner-slider p {
        width: 400px;
        padding: 0;
    }

    .tabs-nav{
    	width: 40%;
    	padding: 115px 85px;
    	padding-top: 180px;
    }
    .tabs-content{
    	padding: 100px 20px;
    }
    .tabs-content .about-part{
      width: 100%;
    }
    .footerMenu{
    	width: 100%;
    	justify-content: space-around;
    }
}
@media (max-width: 992px){
    .about>.container{
    	width: 100%;
    }
    .callUs{
    	width: 100%;
    	padding: 0 20px;
    }
    .help-mail label{
    	padding: 0 30px;
    }
    .phoneConnection .phone{
    	font-size: 4rem;
    	text-align: center;
    }
    .lineText {
    font-size: 1.8rem;
    text-align: center;
	}
	.help-img{
		transform: scale(.9);
	}
	.help-call{
		width: 620px;
	}
	.phoneConnection .phone{
		font-size: 3.5rem;
	}
	.information{
		width: 100%;	
	}
	.tabs-nav {
		padding: 115px 70px;
	}
	.tabs-content .about-part:nth-child(2){
		display: none;
	}
	.footerMenu{
	    justify-content: flex-start;
	    flex-wrap: wrap;
    	padding: 50px;
	}
	.resourse{
		margin-bottom: 30px;
	}
}
@media (max-width: 768px){
	.header {
    display: none;/*delet*/
	}
   .about{
   	padding: 60px 0;
   } 
   .about-panel{
   	    flex-wrap: wrap;
    	justify-content: space-around;
   }
   .callUs>h5{
   	    margin-bottom: 15px;
    	line-height: 5rem;
    	padding-top: 15px;
   }
   .callUs>p{
   		margin-bottom: 30px;
   }
   .callUs>input{
   		margin-bottom: 20px;
   }
   .help-mail label{
   		padding: 0 50px;
   }
   .phoneConnection .phone{
   		font-size: 3.2rem;
   }
   .online{
   		padding: 50px 0;
   }
   .online>h3{
   		text-align: center;
    	line-height: 5rem;
   }
   .assessment{
   	margin-bottom: 30px;
   }

}
@media (max-width: 640px){
	.about{
		padding: 50px 20px;
	}
	.about>.container>h3{
		margin-bottom: 50px;
	}
	.about-part{
		margin-bottom: 25px;
	}
	.help{
		flex-direction: column;
	}
	.callUs{
		display: flex;
    	flex-direction: column;
    	justify-content: center;
    	padding: 20px;
	}
	.help-mail label{
		line-height: 5rem;
		padding: 0 160px;
	}
	.help-mail label:before,
	.help-mail label:after{
		top: 50%;
    	left: 33%;
    	transform: translate(-50%,-50%);
	}
	.help-call{
		width: 100%;
	}
    .information{
    	flex-wrap: wrap;
    }
    .information .guide{
    	margin-bottom: 20px;
    }
    .top .tabs{
    	-webkit-flex-direction: column;
    	-moz-flex-direction: column;
    	-ms-flex-direction: column;
    	-o-flex-direction: column;
    	flex-direction: column;
    }
    .tabs-nav{
    	width: 100%;
    	padding-bottom: 50px;
    }
}
@media (max-width: 480px){
    .help-mail label{
    	padding: 0 80px;
    }
    .help-mail label:before,
	.help-mail label:after{
    	left: 20%;
    }
    .boxThird{
    	padding: 0 15px;
    }
    .online>h3{
    	line-height: 3.5rem;
    	margin-bottom: 10px;
    }

}
@media (max-width: 320px){
    .help-mail label{
    	padding: 0 70px;
    }
}